/backend/node_modules
/backend/bin
/backend/keys
/backend/.env.local
/backend/.env.*.local
/fontend/node_modules
/fontend/dist
/fontend/.env.local
/fontend/.env.*.local

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

.prettierrc